server {
       listen 8000;
       server_name domain_name or server_ip;

       location = /favicon.ico { access_log off; log_not_found off; }
       location /static/ {
       		root path/to/leadgen;
	}

	location / {
		 include proxy_params;
		 proxy_pass http://unix:path/to/leadgen/leadgen.sock;
	}
}